@if (Request.IsAuthenticated)
{
<h2 class="alert-danger text-center ">This Application For Assignment</h2>
   
    <p class="alert alert-info">
        Welcome to the Task Assignment web base Application system.
        I Used MVC Entity Frame Work to Build This Application.
    </p>

}